:root {
  --main-color: #94cfff;
  --title-color: #ffffff;
  --fake-color: #26c6ea;
  --button-color: #26c7ea;
  --color: #0a3853;
  --desk-color: #141414;
  --text-c0lor: #000000;
  --backgroundbnt-color: #0b0e66;
}

/* font-family: "Inter", sans-serif; */
/* font-family: "Headland One", serif; */
/* font-family: "Hammersmith One", sans-serif; */

.body {
  font-family: "Inter", sans-serif;
  background-color: gray;
}

.container {
  width: 1056px;
padding-left: 12px;
padding-right: 12px;
margin: 0 auto;
outline: 1px solid red;
}
/* header */

.header {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--title-color);
}

.header-box {
display: flex;
align-items: center;
}

.logo {
  margin-right: 168px;
}
.header-navigator {
}

.header-list {
  display: flex;
  margin-top: 63px;
  margin-bottom: 63px;
  gap: 38px;
}
.header-link {
  color: var(--title-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  display: flex;

}

.header-:nth-child(1) {
}
.header-btn {
  font-family: HeadlandOne;
  background-color: var(--backgroundbnt-color);
  font-size: 20px;
  color: var(--fake-color);
  font-weight: 400;
  line-height: 1.25;
  width: 141px;
  height: 41.694px;
  flex-shrink: 0;
  border-radius: 35px 0px 35px 0px ;
  border: 1px solid var(--fake-color);
  margin-top: 54px;
  margin-bottom: 54px;
  margin-left: 212px;

}

/* join clan */
.hero {
  border-bottom: 2px solid yellow;
  padding-top: 180px;
  padding-bottom: 179px;
}

.hero-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  color: var(--title-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  width: 298px;
}

.hero-img {
  width: 152px;
}

.hero-title-translate {
  color: var(--title-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  width: 376px;
}


.hero-btn {
  font-family: HeadlandOne;
  color: var(--button-color);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 45px 0px;
  border: 3px solid var(--button-color);
  background: var(--backgroundbnt-color);
  padding: 10px 30px;
  margin-top: 42px;
}

.videos {
display: flex;
flex-direction: column;
gap: 25px;
text-align: end;
}

.hero-video {
  width: 30px;
  height: 30px;
}

.video:nth-child(2) > .hero-video{
width: 34px;
}

.video:nth-child(3) > .hero-video{
  width: 50px;
  }

/* more people */

.quote-title {
  color: #0A3853;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 75px;
  text-align: center;
}

.quiote-avtor {
  color: var(--text-c0lor);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 16px;
  margin-right: 654px;
  margin-left: 655px;
  margin-bottom: 16px;
}

.quiote-img {
  width: 400px;
  height: 120px;
  flex-shrink: 0;
  margin-left: 520px;
  margin-right: 520px;
  margin-top: 8px;
  margin-bottom: 10px;
}
/* trailer */
.trailer {
  border-bottom: 2px solid yellow;
  border-top: 2px solid yellow;
}

.trailer-bnt {
  font-family: HeadlandOne;
  color: var(--button-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 45px 0px;
  border: 3px solid var(--button-color);
  background: var(--backgroundbnt-color);
  width: 260px;
  height: 80px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 390px;
  margin-bottom: 391px;
  margin-right: 590px;
  margin-left: 590px;
}

/* all energy */

.energy {
  border-bottom: 2px solid red;
}

.energy-title {
  color: var(--desk-color);
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 75px;
  text-align: center;
}

.energy-avtor {
  color: var(--text-c0lor);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 16px;
  margin-right: 654px;
  margin-left: 655px;
  margin-bottom: 16px;
}

.energy-img {
  width: 400px;
  height: 120px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 520px;
  margin-right: 520px;
}

/* learn */

.learn-title {
  color: var(--desk-color);
  font-family: HeadlandOne;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
 text-align: center;
margin-top: 58px;
margin-bottom: 45px;

}

.learn-hello {
  color: var(--desk-color);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

.learn-hello-img {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
}

.learn-hello-translate {
  color: var(--text-c0lor);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

.learn-how {
  color: var(--color);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

.learn-how-img {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
}

.learn-how-translate {
  color: var(--text-c0lor);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

.learn-good {
  color: var(--desk-color);
  font-family: HeadlandOne;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1; 
}

.learn-good-img {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
}

.learn-good-translate {
  color: var(--text-c0lor);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.learn-thank {
  color: var(--desk-color);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px; 
}

.learn-thank-img {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
}

.learn-thank-translate {
  color: var(--text-c0lor);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.learn-see {
  color: var(--desk-color);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

.learn-see-img {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
}

.learn-see-translate {
  color: var(--text-c0lor);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.learn-come {
  color: var(--desk-color);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

.learn-come-img {
  width: 152px;
  height: 40px;
  flex-shrink: 0;
}

.learn-come-translate {
  color: var(--text-c0lor);
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; 
}

/* mother */

.mother-title {
  color: var(--desk-color);
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
}

.mother-avtor {
  color: var(--text-c0lor);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
 margin-right: 686;
 margin-left: 686px;
  margin-top: 16px;
}

.mother-img {
  width: 400px;
  height: 120px;
margin-top: 8px;
margin-bottom: 10px;
margin-right: 519px;
margin-left: 519px;
  margin-top: 8px;
  margin-bottom: 10px;
}

/* footer */

.footer-logo {
  width: 183px;
  height: 70px;
  flex-shrink: 0;
}

.palka {
  width: 2px;
  height: 153px;
}

.footer-faq {
  color: var(--title-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-tire {
  width: 269px;
  height: 0px;
  flex-shrink: 0;
}

.footer-address {
  color: var(--title-color);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.footer-data-made {
  color: var(--title-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}