:root {
  --main-color: #94cfff;
  --title-color: #ffffff;
  --fake-color: #26c6ea;
  --button-color: #26c7ea;
  --color: #0a3853;
  --desk-color: #141414;
  --text-c0lor: #000000;
}

/* font-family: "Inter", sans-serif; */
/* font-family: "Headland One", serif; */
/* font-family: "Hammersmith One", sans-serif; */

.body {
  font-family: "Inter", sans-serif;
  background-color: grey;
}

/* header */


.header-btn {
  font-family: HeadlandOne;
}

/* join clan */

.hero-btn {
  font-family: HeadlandOne;
}

/* more people */

/* trailer */

.trailer-bnt {
  font-family: HeadlandOne;

}

/* all energy */

/* learn */

.learn-title {
  font-family: HeadlandOne;
}

.learn-hello {
  font-family: HeadlandOne;

}

.learn-hello-translate {
  font-family: HeadlandOne;

}

.learn-how {
  font-family: HeadlandOne;

}

.learn-how-translate {
  font-family: HeadlandOne;

}

.learn-good {
  font-family: HeadlandOne;

}

.learn-good-translate {
  font-family: HeadlandOne;

}

.learn-thank {
  font-family: HeadlandOne;

}

.learn-thank-translate {
  font-family: HeadlandOne;

}

.learn-see {
  font-family: HeadlandOne;

}

.learn-see-translate {
  font-family: HeadlandOne;

}
.learn-come {
  font-family: HeadlandOne;

}

/* mother */


/* footer */